<div class="spinner-center" *ngIf="loadingData">
  <mat-spinner></mat-spinner>
</div>
<div [hidden]="loadingData">
  <div fxLayout="row" fxLayout.lt-sm="column">
    <div fxLayout="column" fxFlex="40" fxLayoutAlign="top center" fxLayoutGap.lt-sm="3%">
      <div style="width:100%">
        <mat-card class="card-h mat-elevation-z8" matRipple>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center">
              <h1> Patients Waiting</h1>
              <h2>{{hospitalStats.waitingPatient}}</h2>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div style="width:100%">
        <mat-card class="card-h mat-elevation-z8" matRipple>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center">
              <h1> Patients Treated </h1>
              <h2>{{hospitalStats.outgoingPatient}}</h2>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div style="width:100%">
        <mat-card class="card-h mat-elevation-z8" matRipple>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center">
              <h1> Patients Admitted </h1>
              <h2>{{hospitalStats.admittedPatient}}</h2>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxFlex="60" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap.lt-sm="3%">
      <div style="width:80%;">
        <canvas id="canvas" width="100%" height="100%"></canvas>
      </div>
    </div>
  </div>
</div>