<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile style="margin-left: 60px;">
    <mat-card style="width: 35%" class="mat-elevation-z8" matRipple>
      <img style="width: 100%" src="assets/icon-transfer.png" />
      <mat-card-content style="margin-bottom: 0; text-align: center;">
        <h3>Create a Transfer</h3>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile style="margin-left: -60px;">
    <mat-card style="width: 35%" class="mat-elevation-z8" matRipple>
      <img style="width: 100%" src="assets/icon-transfer.png" />
      <mat-card-content style="margin-bottom: 0; text-align: center;">
        <h3>Track Transfer</h3>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile style="margin-left: 60px;">
    <mat-card style="width: 35%" class="mat-elevation-z8" matRipple>
      <img style="width: 100%" src="assets/icon-transfer.png" />
      <mat-card-content style="margin-bottom: 0; text-align: center;">
        <h3>History of Transfers</h3>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile style="margin-left: -60px;">
    <mat-card style="width: 35%" class="mat-elevation-z8" matRipple>
      <img style="width: 100%" src="assets/icon-transfer.png" />
      <mat-card-content style="margin-bottom: 0; text-align: center;">
        <h3>Stats</h3>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>